<div id="wrapper">
	     
		 <div id="chatTopBarnew" >
		 	
			 <div id="chatTopBar">
				<p id="sometext" style="text-align: center;font-family: Chunkfive;font-style: normal;line-height: 1.1;
                  font-size: 20px; margin-top: 50px;"> Yes we are still in the beta phase please cooperate !</p>
			</div>
		</div>
		<div id="betaimage" style="position: absolute; z-index: 5; margin-left: 50px; cursor: pointer;">
		   <img src="/assets/beta.gif" height="40px" width="40px" onclick="toggleSlider();">
		</div>
		<h1>Chat on, on  ch@tapp!</h1>
		<div class="message" >
					<script>
					     welcomeMessage();
					</script>
					<div class="side">
						<%= current_user.name %>
				    </div>
				</div>
		<%= button_to "sign out", signout_path, method: "delete", :class =>"submit"%>
	    <link href="assets/jquery.cssemoticons.css" media="screen" rel="stylesheet" type="text/css" />
		<script src="assets/jquery.cssemoticons.js" type="text/javascript"></script>
	    <h3 id="counter"><%= pluralize(@chatforms.count, "Message") %></h3>
	      <script>
	      	$(document).ready(function() {
	      		    $("#texts").emoticonize();
	      		 	$("input").change(function(){
	      		 		var count = $("li").length;
						    if(count>14&&($("#chatform_content").val()))
						    {
						    $("li:first").slideUp("normal", function() { 
						    	$(this).remove(); 
						    	});
						    }
						  });
	      	});
	      	
     
      /*	function greet()
					{
						var count = $("ul li").length;
						if(count > 15 )
							 {
							$("li:first").slideUp(1000);
							} 
					}
      	*/
      	
      </script>
      <div id="lists">
      <ul id="texts">
        <%= render @chatforms.order("created_at ASC").last(15)%>
      </ul>
      </div> 
   <br />
    <%= render 'form'%>



<%= subscribe_to "/chatforms" %>
<br />
<div id="chatUsers" class="rounded">
<h3>Currently on chatapp!</h3>
<% User.all.each do |user|%>
  <%= user.name %>
  <br />
<% end %>
</div>
</div>
