<%= link_to "sign out", signout_path, method: "delete"%>
<h1>CHatform#show</h1>
<%= javascript_include_tag "private_pub" %>
 <ul id="textsnew">
   <li> <%=render @chatforms.order("created_at ASC").last(15) %> </li>
   </ul> 
  <br />
    <%= render 'form'%>
</div>
<%= subscribe_to "chatforms/new" %>